# Database Configuration
# Replace 'postgres' with your local DB username (often your system name)
DB_USERNAME=postgres
DB_PASSWORD=
DB_HOST=localhost

# Rails Configuration
# Default is 5, but increase if using a high-concurrency server
RAILS_MAX_THREADS=5

# Secret Key Base (Generate with 'bin/rails secret')
# SECRET_KEY_BASE=